STEAM_ACCOUNT_NAME=
STEAM_PASSWORD=
STEAM_SHARED_SECRET=
STEAM_IDENTITY_SECRET=
DATABASE_URL=mysql://user:pass@host:3306/dbname
API_PORT=3000
API_SECRET=shared-secret-with-sm-plugin
BOT_ADMINS=76561198000000000
REMOVE_FRIEND_AFTER_DELIVERY=true
